<!--
  Generated template for the Visitor component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->
<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
<div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
</div>

<div padding>
    <span *ngIf="searchTerm != '' && visitors.length == 0">I'm sorry but I found no match for your search ;(</span>
    <h4>{{originalVisitors.length}} people have signed up!</h4>
    <div [ngClass]="{'showDiv': !hideContent, 'hideDiv': hideContent}">

        <button *ngIf="operationType == 'remote' || forcedOperationType == 'remote'" (click)="presentSignupModal()" ion-button block>Sign up</button>
        <button *ngIf="(operationType == 'local' || forcedOperationType == 'local')  && !authProvider.isAuthenticated()" (click)="goToRegistrationPage()" ion-button block>Register with your Access Key</button>

    </div>
    <ul>
        <li *ngFor="let visitor of visitors">
            <i class="flag-icon flag-icon-{{visitor.country_code | lowercase}}"></i> {{visitor.handle}} <span *ngIf="visitor.groups != ''"> / {{visitor.groups}}</span>
        </li>
    </ul>
</div>
