visitor-component {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
  }
  li {
    padding-bottom: 5px;
  }
}
