page-livevote {
  ion-badge {
    float: right;
  }
  ion-card-title, ion-card-content p {
    color: color($colors, light) !important;
  }
  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
  ion-card {
    .favourite {
      background-color: color($colors, 'primary');

      ion-item.item {
        background-color: color($colors, 'primary');
      }
      button.button {
        background-color: color($colors, 'secondary');
        color: color($colors, 'dark');
      }
    }
  }
  ion-input {
    .text-input {
      background-color: color($colors, 'light');
      color: color($colors, 'dark');
      padding: 3px 20px;
    }
  }
}
