<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>
    </ion-navbar>
</ion-header>

<ion-content [ngStyle]="{'background-image': 'url(' + (app$ | async)?.page_bg?.cached_image_path + ')'}">
    <ion-list>
        <ion-list-header>
            Push notifications
            <p>
                <small>You can customize which kinds of notifications you want to receive. You'll receive general
                    notifications in any case.
                </small>
            </p>
        </ion-list-header>
        <ion-item>
            <ion-label>Competition starts</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Competitions"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Seminar starts</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Seminars"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Deadline approaches</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Deadlines"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Event starts</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Events"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Nightshuttle arrives</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Nightshuttle"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>On-location info</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Location"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="developerMode == true">
            <ion-label>Developer</ion-label>
            <ion-toggle (ionChange)="setTags()" [(ngModel)]="notifications.Developer"></ion-toggle>
        </ion-item>
    </ion-list>

    <ion-list *ngIf="developerMode == true" class="developer-mode">
        <ion-list-header>
            Developer mode does nothing!
        </ion-list-header>
<!--        <ion-item>-->
<!--            <ion-label>Force local menu</ion-label>-->
<!--            <ion-toggle (ionChange)="setOperationType('local')" [(ngModel)]="operationTypes.local"></ion-toggle>-->
<!--        </ion-item>-->
<!--        <ion-item>-->
<!--            <ion-label>Force remote menu</ion-label>-->
<!--            <ion-toggle (ionChange)="setOperationType('remote')" [(ngModel)]="operationTypes.remote"></ion-toggle>-->
<!--        </ion-item>-->
    </ion-list>

    <div style="text-align: center; margin: 10px;">
        <small (click)="enableDeveloperMode()">App version: {{version}}</small>
    </div>
</ion-content>
