item-component {
  table.infodesk {
    width: 100%;
  }
  table.infodesk td {
    padding-bottom: 10px;
  }
  table.infodesk td.right {
    text-align: right;
  }

  h4.first {
    padding-top: 0;
  }
  h4 {
    padding-top: 30px;
  }
}
