@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Roboto+Slab_400_normal.eot); /* {{embedded-opentype-gf-url}} */
  src: local('☺'),
  url(../assets/fonts/Roboto+Slab_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
  url(../assets/fonts/Roboto+Slab_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZobN6UDyHWBl620a-IRfuBk.woff */
  url(../assets/fonts/Roboto+Slab_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZiwlidHJgAgmTjOEEzwu1L8.ttf */
  url(../assets/fonts/Roboto+Slab_400_normal.svg#Roboto+Slab_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=y7lebkjgREBJK96VQi37ZnNsigHlcrQGNV8nkUSFQfc&skey=a9ad6a4717e923f0#RobotoSlab */
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Roboto+Slab_700_normal.eot); /* {{embedded-opentype-gf-url}} */
  src: local('☺'),
  url(../assets/fonts/Roboto+Slab_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
  url(../assets/fonts/Roboto+Slab_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJTqR_3kx9_hJXbbyU8S6IN0.woff */
  url(../assets/fonts/Roboto+Slab_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJTdGNerWpg2Hn6A-BxWgZ_I.ttf */
  url(../assets/fonts/Roboto+Slab_700_normal.svg#Roboto+Slab_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Montserrat_400_normal.eot); /* {{embedded-opentype-gf-url}} */
  src: local('☺'),
  url(../assets/fonts/Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
  url(../assets/fonts/Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff */
  url(../assets/fonts/Montserrat_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf */
  url(../assets/fonts/Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=zhcz-_WihjSQC0oHJ9TCYKWUboTb-jS2tyCOQMtm97g&skey=7bc19f711c0de8f#Montserrat */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../assets/fonts/Montserrat_700_normal.eot); /* {{embedded-opentype-gf-url}} */
  src: local('☺'),
  url(../assets/fonts/Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
  url(../assets/fonts/Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff */
  url(../assets/fonts/Montserrat_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcsBaWKZ57bY3RXgXH6dOjZ0.ttf */
  url(../assets/fonts/Montserrat_700_normal.svg#Montserrat_700_normal) format('svg'); /* {{svg-gf-url}} */
}
