// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

$font-path: "../assets/fonts";
$font-family-base: 'Roboto Slab', 'Montserrat', '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
$font-family-md-base: 'Roboto Slab', 'Montserrat', "Helvetica Neue", "Roboto", sans-serif !default;

@import "ionic.globals";

$spinner-ios-ios-color: #fff !default;
$spinner-md-crescent-color: #fff !default;
$refresher-icon-color: #fff !default;

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
        primary: #ff4982,
        secondary: #77e15d,
        danger: #d91e18,
        light: #f4f4f4,
        dark: #222,
) !default;

//$link-color: lighten(color($colors, 'primary'), 15%);

//$colors: (
//  primary:    #387ef5,
//  secondary:  #32db64,
//  danger:     #f53d3d,
//  light:      #f4f4f4,
//  dark:       #222
//) !default;

// Dark Theme
// — — — — — — — — — — — — — — — — —
//$colors: (
//        primary: #387ef5,
//        secondary: #32db64,
//        danger: #f53d3d,
//        light: #fff,
//        dark: #333,
//) !default;
//$text-color: #fff !default;
//$background-color: #222 !default;
//$toolbar-background: lighten($background-color, 10%) !default;
//$list-text-color: $text-color !default;
//$list-background-color: $background-color !default;
//$list-ios-activated-background-color: lighten($background-color, 20%) !default;
//$list-border-color: #666 !default;
//$link-color: map-get($colors, primary) !default;
//$toolbar-background-color: #111 !default;
//$toolbar-border-color: #000 !default;
//$toolbar-text-color: $text-color !default;
//$toolbar-active-color: $link-color !default;
//$toolbar-inactive-color: #8c8c8c !default;
//
//form, input, optgroup, select

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";

$toast-ios-background: rgba(color($colors, 'secondary'), .9) !default;
$toast-md-background: color($colors, 'secondary') !default;
$toast-ios-title-color: color($colors, 'dark') !default;
$toast-md-title-color: color($colors, 'dark') !default;

$toggle-ios-background-color-off: color($colors, 'light') !default;
$toggle-md-background-color-off: color($colors, 'light') !default;

/// @prop - Border color of the unchecked toggle
$toggle-ios-border-color-off: grayscale(lighten($list-border-color, 11%)) !default;
$toggle-md-border-color-off: grayscale(lighten($list-border-color, 11%)) !default;

/// @prop - Background color of the checked toggle
$toggle-ios-background-color-on: color($colors, primary) !default;
$toggle-md-background-color-on: color($colors, primary) !default;

$item-ios-detail-push-color: color($colors, light) !default;
$item-md-detail-push-color: color($colors, light) !default;

$label-md-text-color: color($colors, 'light') !default;

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
