// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$flag-icon-css-path: '../assets/flags' !default;
@import "../assets/css/flag-icon.css";

@import "../theme/fonts.scss";

ion-content {
  background-image: url(../assets/images/page-bg.png);
}

.menu-header-fixed {
  text-align: center;
  background-color: #010103;

  img {
    margin-top: 30px;
    width: 80%;
  }
}

#sidenav {
  ion-item {
    border-top: none !important;
  }
  .item-inner {
    border-bottom: none !important;
  }
  ion-item[submenu-item] {
    padding-left: 65px;

  }
}

#sidenav {
  ion-item-group[submenu] {
    ion-label {
      margin-top: 0;
      margin-bottom: 0;
    }
    overflow: hidden;
    display: block;
    max-height: 0;
    transition: max-height .3s linear;
    &.visible {
      max-height: 325px;
      // this is just sample value, calculate how much space you need for your menu items
    }
  }
}

ion-item {
  min-height: 40px !important;
}

.item-inner {
  min-height: 40px !important;
}

ion-menu {
  ion-header {
    ion-navbar {
      .toolbar-background {
        background-color: transparent !important;
      }
    }
  }
  .list-header-md {
    border-top: none !important;
  }
  ion-list-header h5 {
    color: color($colors, light)
  }
  .item {
    padding-left: 45px;
    background-color: transparent !important;
  }
  .scroll-content {
    background-image: url(../assets/images/menu-background-2017.jpg) !important;
    background-size: cover !important;
    background-position: center center !important;
  }
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}