page-intro {
  button {
    text-shadow: none !important;
    //text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  }
  ion-slide {
      background-size: cover;
  }

  .swiper-pagination {
    bottom: 30px !important;
  }

  .swiper-pagination-bullet-active {
    background: color($colors, 'primary') !important;
  }

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  img-loader.slide-image img {
    max-width: 70%;
    margin: 20% 15% 10%;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
  }

  .slide-image.small, .slide-image.large {
    margin: 20% 15% 10%;
  }

  b {
    font-weight: 500;
  }

  p, h2 {
    color: #555;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);

    b {
      color: #000000;
    }
  }
  p {
    padding: 0 40px;
    font-size: 1em;
    line-height: 1.5;
  }

  h2, button {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  }
}
