page-intro {

  ion-slide.city {
    background: url(../assets/images/slider-bg-city.jpg);
    background-size: cover;
  }
  ion-slide.street {
    background: url(../assets/images/slider-bg-street.jpg);
    background-size: cover;
  }
  ion-slide.tunnel {
    background: url(../assets/images/slider-bg-tunnel.jpg);
    background-size: cover;
  }

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-width: 60%;
    margin: 20%;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 1em;
    line-height: 1.5;
    color: #fff;

    b {
      color: #000000;
    }
  }

}
