<!--
  Generated template for the Intro page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <ion-slides (ionSlideDrag)="checkSwipeLock()" pager>
        <ion-slide class="city">
            <img src="assets/images/revision-logo.png" class="slide-image">
            <p>
                Stay up to date
            </p>
            <p>
                Sign up for the event
            </p>
            <p>
                Get notified when<br>
                interesting things happen
            </p>
        </ion-slide>
        <ion-slide class="street">
            <img src="assets/images/revision-logo.png" class="slide-image">
            <p *ngIf="deviceHeight == 'large'">
                Register with your access key<br>
                at the event
            </p>
            <p *ngIf="deviceHeight == 'small'">
                Register with your access<br>
                key at the event
            </p>
            <p>
                Vote and live-vote
            </p>
            <p>
                Get on-location information
            </p>
            <p>
                Store your pre-sale tickets
            </p>
        </ion-slide>
        <ion-slide class="tunnel">
            <img src="assets/images/revision-logo.png" class="slide-image {{deviceHeight}}">
            <p>
                April 14th to 17th 2017<br>
                E Werk Saarbrücken, Germany
            </p>
            <p>
                Pure demoscene party
            </p>
            <p>
                PC, Amiga, Oldskool,<br>
                Graphics, Music and more
            </p>
            <p>
                Special events<br>
                Concerts, Seminars,<br>
                Food & Drinks
            </p>
        </ion-slide>
        <ion-slide class="city">
            <img src="assets/images/revision-logo.png" class="slide-image">
            <h2 class="slide-title">Ready to Party?</h2>
            <button (click)="navigateHome()" ion-button large clear icon-right color="primary">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>
