page-intro {
  button {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8),
    0px 8px 13px rgba(0, 0, 0, 0.4),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  ion-slide.city {
    background: url(../assets/images/slider-bg-city.jpg);
    background-size: cover;
  }
  ion-slide.street {
    background: url(../assets/images/slider-bg-street.jpg);
    background-size: cover;
  }
  ion-slide.tunnel {
    background: url(../assets/images/slider-bg-tunnel.jpg);
    background-size: cover;
  }

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-width: 70%;
    margin: 20% 15%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8),
    0px 8px 13px rgba(0, 0, 0, 0.4),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  .slide-image.small {
    margin: 20% 15% 10%;
  }

  b {
    font-weight: 500;
  }

  p, h2 {
    color: #fff;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8),
    0px 8px 13px rgba(0, 0, 0, 0.4),
    0px 18px 23px rgba(0, 0, 0, 0.1);

    b {
      color: #000000;
    }
  }
  p {
    padding: 0 40px;
    font-size: 1em;
    line-height: 1.5;
  }

  h2, button {
    text-shadow: 0px 4px 3px black, 0px 4px 7px black, 0px 8px 13px rgba(0, 0, 0, 1)
  }
}
