navigation-items {
  .header {
    position: relative;
    text-align: right;
    height: 196px;
  }
  .header img {
    position: relative;
    top: -27px;
  }
  .item-inner {
    border: none !important;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  }
  .header a {
    z-index: 1000;
    position: relative;
    top: 10px;
    font-style: normal;
    margin-right: 15px;
    right: 20px;
    color: white;
    font-size: 24px;
  }
  .header a.dark {
    color: color($colors, 'dark');
  }
  .header a.light {
    color: color($colors, 'light');
  }
  .navigation {
    position: relative;
    top: 120px;
  }

  ion-item-group[submenu] {
    button {
      //min-height: 0;
      //max-height: 35px;
    }
    ion-label {
      margin-left: 35px;
      margin-top: 0;
      margin-bottom: 0;
    }
    overflow: hidden;
    display: block;
    max-height: 0;
    transition: max-height .3s linear;
    &.visible {
      max-height: 325px;
      // this is just sample value, calculate how much space you need for your menu items
    }
  }

}

