<!--
  Generated template for the Home page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngFor="let block of page?.content.blocks">
        <lazy-img *ngIf="block.component == 'Component_Text' && block.content.attachments.image[0]" [src]="block.content.attachments.image[0].modified_file.replace('http', 'https')"></lazy-img>
        <gallery-component *ngIf="block.component == 'Component_Gallery'" [block]="block"></gallery-component>
        <text-component *ngIf="block.component == 'Component_Text'" [block]="block"></text-component>
        <timetable-component *ngIf="block.component == 'Component_Event_Schedule'" [block]="block"></timetable-component>
        <visitor-component *ngIf="block.component == 'Component_Visitor_List'" [block]="block" (notifyRefresher)="getRefresherNotification($event)"></visitor-component>
    </div>
</ion-content>
