page-entry-modal {
  ion-list-header, ion-item, p {
    color: color($colors, light) !important;
  }
  ion-label {
    white-space: inherit !important;
    font-size: 1.5rem;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul li {
    font-size: 1.4rem;
  }

  .item-inner {
    border-bottom: none !important;
  }

  .list-header-md {
    margin-top: 20px;
    margin-bottom: 5px;
    border-top: none !important;
  }

  .button-clear-md {
    float: right;
  }
  .toolbar-title-md {
    line-height: 3.6rem;
  }

}
