<!--
  Generated template for the Entries page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <network-connection [isOnline]="connectivityService.online"></network-connection>
  <ion-list inset>
    <ion-list-header *ngIf="(subscriptionActive == true && tickets.length == 0) || subscriptionActive == false">
      <span *ngIf="subscriptionActive == true && tickets.length == 0">You haven't scanned any tickets yet.</span>
      <span *ngIf="subscriptionActive == false">Fetching ticket information...</span>
    </ion-list-header>
    <ion-item-sliding *ngFor="let ticket of tickets" text-wrap>
      <button ion-item (click)="showTicket(ticket)">
        <ion-thumbnail item-left>
          <qr-code [value]="ticket.code" [size]="100" style="padding: 8px;"></qr-code>
        </ion-thumbnail>
        <h2 [innerHTML]="ticket.type"></h2>
        <p>
          {{ticket.order_number}}<br>
          {{ticket.first_name}} {{ticket.last_name}}
        </p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeTicket(ticket)">
          <ion-icon name="ion-trash-a"></ion-icon>
          delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <p class="notice" *ngIf="tickets.length > 0" padding>Swipe left on a ticket to remove it.</p>

  <form padding [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label>Last name</ion-label>
      <ion-input type="text" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button type="button" (click)="openCamera($event)" color="light" item-right><ion-icon name="camera"></ion-icon></button>
      <ion-label>Ticket code</ion-label>
      <ion-input type="text" formControlName="code"></ion-input>
    </ion-item>
    <button ion-button type="submit" block [disabled]="!form.valid">Add ticket</button>
  </form>
</ion-content>
