page-vote {
  ion-badge {
    float: right;
  }
  ion-card-title, ion-card-content p {
    color: color($colors, light) !important;
  }
  ul {
    padding: 0px;

    &.rating li {
      padding: 5px 10px;
      background: none;
      color: #ffb400;

      ion-icon {
        font-size: 30px;
      }
    }
  }
  ion-select {
    max-width: 65% !important;
  }

  audio {
    width: 100%;
  }
  .deadline {
    background-color: color($colors, 'danger') !important;
  }
}

.toast-success > div {
  background-color: color($colors, 'secondary') !important;
}

.toast-success div.toast-message, .toast-success button {
  color: color($colors, 'dark') !important;
}

.toast-danger > div {
  background-color: color($colors, 'danger') !important;
}
.toast-danger div.toast-message, .toast-danger button{
  color: color($colors, 'light') !important;
}
